@{
    ViewData["Summary"] = "Explore our list of cinemas and movies.";
    ViewData["Summary2"] = "Add your favorites and track what you\'ve watched.";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>@ViewData["Summary"]</p>
<p>@ViewData["Summary2"]</p>